* {
  box-sizing: border-box;
}

h1 {
  font-family: "Times New Roman";
  color: blue;
}

h2 {
  font-family: "Times New Roman";
}

p {
  font-family: "Times New Roman";
  padding: 5px;
  margin: 15px;
  background-color: cyan;
}

img {
  height: auto;
  width: 50%;
}

div {
  display: flex;
}

li {
  background-color: lightsalmon;
  padding-inline-start: 10px;
  list-style-type: "*";
}
