* {
  box-sizing: border-box;
}

h1 {
  font-family: "Times New Roman";
  color: blue;
}

p {
  font-family: "Times New Roman";
  padding: 5px;
  margin: 15px;
  background-color: cyan;
}

img {
  height: auto;
  width: 50%;
}

div {
  display: flex;
}
