* {
    box-sizing: border-box;
}

h1 {
    font-family:cursive;
    color:blue;
}

p {
    font-family: cursive;
    padding: 5px;
    margin: 15px;
    background-color: cyan;
}

img {
    height: auto;
    width: 50%;
} 

div {
    display: flex;
   
}
